<header class="main-header">
  <h1>Plataforma de Gestão de Moradias</h1>
  <nav>
    <button *ngIf="authService.isAuthenticated()" [routerLink]="['/home']">
      Início
    </button>
    
    <button *ngIf="authService.hasRole('PROPRIETARIO')" [routerLink]="['/residences']">
      Minhas Moradias
    </button>

    <button *ngIf="authService.hasRole('ESTUDANTE') || authService.hasRole('PROPRIETARIO')" (click)="meuPerfil()">
      Meu Perfil
    </button>
    
    <button *ngIf="authService.isAuthenticated()" (click)="logout()">
      Logout
    </button>
  </nav>
</header>
<router-outlet></router-outlet>