<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Digite seu email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
        <span *ngIf="loginForm.get('email')?.errors?.['required']">Email é obrigatório.</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido.</span>
      </div>
    </div>

    <div>
      <label for="password">Senha</label>
      <input id="password" type="password" formControlName="senha" placeholder="Digite sua senha">
      <div *ngIf="loginForm.get('senha')?.invalid && loginForm.get('senha')?.touched" class="error-message">
        <span *ngIf="loginForm.get('senha')?.errors?.['required']">Senha é obrigatória.</span>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

  </form>

  <div class="register-link">
    <p>
      Não tem uma conta? <a [routerLink]="['/auth/register']">Registre-se aqui</a>
    </p>
  </div>

</div>
