<div class="register-container">
  <h2>Registro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Digite seu email">
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
        <span *ngIf="registerForm.get('email')?.errors?.['required']">Email é obrigatório.</span>
        <span *ngIf="registerForm.get('email')?.errors?.['email']">Formato de email inválido.</span>
      </div>
    </div>

    <div>
      <label for="password">Senha</label>
      <input id="password" type="password" formControlName="senha" placeholder="Digite sua senha">
      <div *ngIf="registerForm.get('senha')?.invalid && registerForm.get('senha')?.touched" class="error-message">
        <span *ngIf="registerForm.get('senha')?.errors?.['required']">Senha é obrigatória.</span>
        <span *ngIf="registerForm.get('senha')?.errors?.['minlength']">A senha deve ter no mínimo 6 caracteres.</span>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>

  </form>
</div>
